<!-- Portal Global Libraries -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/js/libs/jquery.lwMultiSelect.min.js"></script>
<script src="/js/libs/jquery.serializejson.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap-notify.min.js"></script>
<script src="/js/libs/image-picker.min.js"></script>
<script src="/js/libs/selectize.min.js"></script>
<!-- Portal App Global -->
<script src="/js/commons/utilities.js"></script>
<script src="/js/commons/viewHelper.js"></script>
<script src="/js/commons/pageHelper.js"></script>
<script src="/js/commons/notifications.js"></script>
<script src="/js/controller/commons/ajaxController.js"></script>
<script src="/js/controller/commons/imagePickerController.js"></script>
<script src="/js/controller/appController.js"></script>
<script src="/js/app.js"></script>