doctype html
html
   head(lang='en')
      meta(charset='UTF-8')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Linkit - by Zafer Dogan
      script(src='../javascripts/jQuery.js')
      script(src='../javascripts/login.js')
      link(rel='stylesheet', href='../stylesheets/login.css')
   body
      #siteWrapper
         #loginWrapper
            #pageTitel Welcome to Link-it!
            #login
               form
                  label#loginTitle Login
                  label Name
                  input#username(placeholder='username')
                  label Password
                  input#password(type="password", placeholder='password')
                  a#register(href="/users/register") Go to Registration
                  input#submit.login(type="button",value="Login")
          