<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">
<body>
<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="form" class="modal fade js-formModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neuer Benutzer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" th:fragment="modal-body">
                <form class="js-form" th:object="${user}">
                    <div th:replace="configurations/users/form :: form-body"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mb-2 mb-md-0 js-createBtn"
                        th:data-id="${user.getId()}">
                    Erstellen
                </button>
                <button class="btn btn-danger mb-2 mb-md-0" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>