<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Erstlogin - Passwort ändern</h5>
                    </div>
                    <div class="modal-body" th:fragment="modal-body">
                        <form method="post" action="/changepassword" th:object="${user}">
                            <div xmlns:th="http://www.thymeleaf.org"
                                 th:fragment="form-body">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Altes Passwort</label>
                                    <div class="col-8"
                                         th:with="hasError=${errors != null && errors.containsKey('oldpassword')}"
                                         th:classappend="${hasError}?'show':''">
                                        <input th:field="*{oldpassword}" placeholder="Altes Passwort" type="password"
                                               class="form-control"
                                               th:classappend="${hasError}?'is-invalid':''" autocomplete="new-password"/>
                                        <div th:if="${hasError}" class="invalid-feedback d-flex flex-column">
                                            <span th:each="error : ${errors.oldpassword}" th:text="${error}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div xmlns:th="http://www.thymeleaf.org"
                                 th:fragment="form-body">
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Neues Passwort</label>
                                    <div class="col-8"
                                         th:with="hasError=${errors != null && errors.containsKey('newpassword')}"
                                         th:classappend="${hasError}?'show':''">
                                        <input th:field="*{newpassword}" placeholder="Neues Passwort" type="password"
                                               class="form-control js-formLastname"
                                               th:classappend="${hasError}?'is-invalid':''" autocomplete="new-password"/>
                                        <div th:if="${hasError}" class="invalid-feedback d-flex flex-column">
                                            <span th:each="error : ${errors.newpassword}" th:text="${error}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary mb-2 mb-md-0 js-updateBtn">
                                Ändern
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>