<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">
<body layout:fragment="content" th:fragment="body">

<div th:if="${#maps.isEmpty(portalLinks)}" class="d-flex align-content-center align-items-center flex-column">
    <p class="fa fa-10x">&#128549;</p>
    <h3 class="text-center">Keine Links gefunden!</h3>
    <p class="text-center">Auf dieser Seite sind noch keine Links verfügbar.</p>
</div>
<div th:replace="display_controls :: body"></div>
<th:block th:each="entry : ${portalLinks}">
    <div class="row border-bottom ml-1 mb-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <span class="nav-link active mb-0" th:text="${entry.key}"></span>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 mb-4" th:each="portalLink : ${entry.value}">
            <div th:replace="card :: body"></div>
        </div>
    </div>
</th:block>
<div th:replace="add_btn :: body"></div>
</body>
</html>