<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<body th:fragment="body">
<div class="modal fade js-formModal" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login- Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h3 th:text="${credential.portalLinkName}"></h3>
                </div>
                <div th:if="${credential.login != null && !#strings.isEmpty(credential.login)}"
                     class="form-group">
                    <label>Login:</label>
                    <input type="text" class="form-control" th:value="${credential.login}" readonly="readonly"/>
                </div>
                <div th:if="${credential.password != null && !#strings.isEmpty(credential.password)}"
                     class="form-group">
                    <label>Password:</label>
                    <input type="text" class="form-control" th:value="${credential.password}" readonly="readonly"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</body>
</html>